html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    font-family: NotoSans;
    letter-spacing: -0.2px;
    font-size: 16px;

}

.grow {
    flex-grow: 1;
}

header {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    display: flex;
    padding: 0 100px;
}

header h3 {
    color: #2a6d84;
}

header ul.nav {
    list-style-type: none;
    display: inline-flex;
    margin-top: 1.4em;
}

ul.nav li.item {
    display: inline-block;
    width: 100px;
}

ul.nav .item.active {
    color: #007f72;
    font-weight: bold;
}

.profile {
    min-width: 200px;
    width: 25%;
    max-width: 320px;
    display: flex;
}

.red-dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 10px;
    position: relative;
    left: -10px;
    top: -30px;
    display: inline-block;
}

.Back-Arrow {
    position: relative;
    top: -15px;
    left: -10px;
}

img.profile-picture {
    height: 40px;
    margin-top: 10px;
}

span.rewards {
    padding-top: 20px;
    padding-left: 30px;
}


/*Main View*/

.main-view {
    width: 78%;
    height: 70%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    margin: 0px 11%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-view .header {
    height: 15%;
    padding-left: 2%;
    padding-top: 2%;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50px;
    max-height: 100px;
}

.main-view span.title {
    font-size: 24px;
}

.main-view li.tab {
    width: 120px;
    color: #007f72;
    text-transform: uppercase;
    text-align: center;
    margin-right: 0;
    opacity: 0.7;
    box-sizing: border-box;
    display: inline-block;
}

.main-view ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-view li.tab.active {
    font-weight: bold;
    border-bottom: 4px solid;
}

.main-view .body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 65%;
}

.main-view .body .item {
    opacity: 0.1;
    background-color: #d8d8d8;
    height: 20%;
}


/*Profile detail box*/

.profile-detail {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    position: absolute;
    z-index: 2;
    right: 100px;
    height: 452px;
    flex-direction: column;
}

.personal-info {
    height: 84px;
    border-bottom: 1px solid #d3d5d7;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

ul.actions {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul.actions li.item {
    height: 46px;
    border-bottom: 1px solid #d3d5d7;
    padding: 0px 20px;
    font-size: 14px;
    line-height: 46px;
}

ul.actions li.item.active {
    background-color: #276c83;
    color: #fff;
}

.text-blue {
    color: #007aff;
}

.text-red {
    color: #ff3b30;
}

.personal-info img {
    width: 60px;
    height: 60px;
}

.personal-info .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 30px;
}

.info span.contact {
    font-size: 12px;
    color: #9b9b9b;
    line-height: 10px;
    margin-top: 5px;
}

.actions .item img.text-icon {
    width: 16px;
    height: 16px;
    object-fit: contain;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -3px;
  }

  .actions .item span {
      float: right;
  }

  .actions .item span img {
    margin-left: 5px;
    transform: rotate(-90deg);
  }